.app__specific-section {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 2rem;
}

.app__specific-section-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__specific-section-top button {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background: var(--violet);
    color: var(--white);
    border: 0;
    outline: none;
}

.app__specific-section-categories button:hover {
    background: orangered;
}

.app__specific-section-categories {
    width: 100%;
}

.cat-container {
    display: flex;
    gap: 1rem;
    overflow: scroll;
}

.app__specific-section-categories button {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background: var(--green__1);
    color: var(--black);
    border: 0;
    outline: none;
}

.app__specific-section-categories button.active {
    background: orangered;
}

.app__models-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}

.model__container {
    padding: .5rem;
    border-radius: 15px;
    background-image: linear-gradient(-45deg, #2f80ff, #3ccbff);
    display: flex;
    flex-direction: column;
}

.model__container img {
    object-fit: cover;
    border-radius: 15px;
    width: 120px;
    aspect-ratio: 1;
    background: var(--soft__blue1);
    transition: .2s;
}

.model__container:hover img {
    background: var(--soft__blue2);
}

.model__container h4 {
    color: var(--black);
    width: 120px;
    margin-top: .25rem;
    margin-bottom: auto;
    line-height: 20px;
}

.model__container .view-link {
    margin-top: .5rem;
    margin-bottom: .25rem;
    text-decoration: none;
    padding: .25rem .75rem;
    color: var(--black);
    border: 1px solid var(--black);
    width: max-content;
    border-radius: 8px;
    font-weight: 600;
    transition: .2s;
}

.model__container:hover .view-link {
    background: var(--white);
    color: var(--black);
}