.app__specific-section {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 2rem;
}

.app__specific-section-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__specific-section-top button {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background: var(--violet);
    color: var(--white);
    border: 0;
    outline: none;
}

.app__specific-section-categories button:hover {
    background: orangered;
}

.app__specific-section-categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.app__specific-section-categories button {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background: var(--green__1);
    color: var(--black);
    border: 0;
    outline: none;
}

.app__specific-section-categories button.active {
    background: orangered;
}

.app__models-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.model__container {
    padding: 1rem;
    border-radius: 15px;
    background: var(--violet);
}

.model__container img {
    border-radius: 28px;
    width: 120px;
    height: 120px;
    background: var(--green__1);
}

/* .main__model {
    width: 100%;
    height: 100%;
    transform: scale(1.5);
} */