.app__recent {
    width: 22%;
    min-height: 60vh;
    background: blue;
    max-width: 250px;
    min-width: 150px;
}

@media screen and (width <= 720px) {
    .app__recent {
        position: absolute;
        right: -250px;
    }
}