.app__recent {
    padding: .5rem;
    width: 25%;
    max-height: 60vh;
    background: rgba(0, 0, 0, 0.9);
    max-width: 250px;
    min-width: 150px;
    min-height: 400px;
    overflow-y: scroll;
    margin-right: 1rem;
    border-radius: 12px;
}

.empty-recent {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-recent * {
    color: var(--white);
} 

.empty-recent span {
    color: orangered;
}

.app__recent-container * {
    color: var(--white);
}

.app__recent-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0.25rem;
}

.app__recent-container h2 {
    margin-bottom: .5rem;
    color: orangered;
}

.app__recent h3 {
    margin-top: 2rem;
    text-align: center;
}

.app__recent-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: .3s;
    border-radius: 8px;
    padding: .25rem .1rem;
}

.app__recent-item:hover {
    background: gray;
}

.app__recent-item img {
    border-radius: 10px;
    height: 40px;
    height: 40px;
    background: var(--green__1);
}

.app__recent-item label {
    width: auto;
    overflow: hidden;
}

.app__recent-item p {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.app__recent-item button {
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
}

@media screen and (width >= 720px) {
    .recent-btn {
        display: none;
    }
}

@media screen and (width <= 720px) {
    .app__recent {
        position: absolute;
        top: 7rem;
        right: -330px;
        width: 80%;
        max-width: 300px;
        transition: .3s linear;
        /* background: var(--blury__2); */
        z-index: 50;
    }

    .app__recent.active {
        right: 0;
    }

    .recent-btn {
        position: fixed;
        top: 3.5rem;
        right: -4.5rem;
        width: max-content;
        padding: 6px 12px 6px 8px;
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px;
        outline: none;
        border: 0;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        cursor: pointer;
        transition: .3s linear;
        display: flex;
        gap: 1rem;
        align-items: center;
        z-index: 51;
        background: var(--blury);
    }
    
    .recent-btn .icon {
        transition: 1s;
    }

    .recent-btn:hover {
        gap: .5rem;
        right: -.5rem;
    }

    .recent-btn:hover .icon {
        transform: rotate(-720deg);
    }
}