.app__header {
    background: var(--blury);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    z-index: 66;
    backdrop-filter: blur(20px);
}

.app__header-home {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--text__color);
}

.app__header-home img {
    width: 34px;
    height: 34px;
}

.app__header input {
    background: var(--text__color);
    color: var(--background);
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 18px;
    border: 0;
    outline: none;
    flex: .5;
}

.app__header input::placeholder {
    color: var(--background);
    font-size: 15px;
    font-weight: 600;
}

@media screen and (width <= 1000px) {
    .app__header {
        padding-right: 4rem;
    }
}

@media screen and (width <= 700px) {
    .app__header-home h1 {
        display: none;
    }

    .app__header input {
        flex: .8;
    }
}