:root {
    --soft__blue1: #33B6FF;
    --soft__blue2: #4A7DFE;
    --dark__blue1: #273477;
    --dark__blue2: #171B4E;
    --violet     : #923CFF;
    --violet__1  : rgb(66,20,67);
    --white      : #E4E4E4;
    --black      : #343434;
    --green__1   : rgb(95,252,161);
    --main__font : 'system-ui';
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: color .3s;
    font-family: var(--main__font);
    color: var(--text__color);
}

body {
    background: var(--white);
    transition: .3s;
    --text__color: var(--black);
    --background : var(--white);
}

body.dark {
    background: var(--black);
    --text__color: var(--white);
    --background : var(--black);
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__main-home {
    background: red;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 0;
    overflow-x: hidden;
}

@keyframes slide-bottom {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (width <= 700px) {
    .app__main-home {
        padding: 2rem 0;
    }
}

@media screen and (width <= 550px) {
    .app__main-home {
        padding: 4rem .25rem;
    }
}