:root {
    --soft__blue1: #33B6FF;
    --soft__blue2: #4A7DFE;
    --dark__blue1: #273477;
    --dark__blue2: #171B4E;
    --violet     : #923CFF;
    --white      : #E4E4E4;
    --black      : #343434;
    --main__font : 'system-ui';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: color .3s;
    font-family: var(--main__font);
    color: var(--text__color);
}

body {
    background: var(--white);
    transition: .3s;
    --text__color: var(--black);
}

body.dark {
    background: var(--black);
    --text__color: var(--white);
}

.app {
    width: 100%;
    min-height: 100vh;
}

.app__main-home {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 0rem;
}