.app__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 66;
}

.app__header-home {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--text__color);
}

.app__header-home img {
    width: 34px;
    height: 34px;
}

@media screen and (width <= 650px) {
    .app__header-home h1 {
        display: none;
    }
}